body {
  background-color: rgb(74, 86, 171);

  /* Smoothly transition the background color */
  transition: background-color .5s;
}


.player {
  height: 95vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.wrapper {
  background: #ffffff;
  width: 500px;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;
}

.track-art {
  margin: 20px;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  transition: transform 0.3s;
  background-image: URL(
     "https://source.unsplash.com/Qrspubmx6kE/640x360");

 -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;

  
}

/* Changing the font sizes to suitable ones */
.now-playing {
  font-size: 1rem;
}

.track-name {
  font-size: 2rem;
  font-weight: bold;
}

.track-artist {
  font-size: 1.2rem;
  color: gray;
}

.buttons {
    display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
}
.active {
  color: rgb(74, 86, 171);
}
.random-track,
.repeat-track,
.playpause-track,
.prev-track,
.next-track {
  padding: 25px; 
 opacity:0.8;
 
  transition: opacity .2s;

}


.random-track:hover,
.repeat-track:hover,
.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
 
 opacity:1.0;
 


}



.slider_container {
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;


}

.seek_slider, .volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: black;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border:3px solid rgb(17, 133, 210);
  cursor: pointer;
  border-radius: 50%;
}

/* Change the opacity when mouse is hovered */
.seek_slider:hover,
.volume_slider:hover {
  opacity: 1.0;
}

.seek_slider {
  width: 60%;
}

.volume_slider {
  width: 30%;
}

.current-time,
.total-duration {
  padding: 10px;
   min-width: 50px;
  text-align: center;
}

i.fa-volume-down,
i.fa-volume-up {
  padding: 10px;
}


i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward {
  cursor: pointer;
}
.randomActive {
  color: rgb(17, 133, 210);
}
.rotate {
  animation: rotation 6s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loader, .stroke{
  background: white;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 0px 5px;
animation: animate 1.5s linear infinite;

}

@keyframes animate {
  0%{
    transform: scale(1);
    opacity: 1;
  }
  100%{
    transform: scale(2);
    opacity: 0;
  }
}
.stroke:nth-last-child(1){
  animation-delay: 0s;

}
.stroke:nth-last-child(2){
  animation-delay: 0.5s;

}
.stroke:nth-last-child(3){
  animation-delay: 1s;

}
.stroke:nth-last-child(4){
  animation-delay: 1.5s;

}
.stroke:nth-last-child(5){
  animation-delay: .5s;

}
.stroke:nth-last-child(6){
  animation-delay: 1.5s;

}
.stroke:nth-last-child(7){
  animation-delay: 0s;

}
